* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
}

// variables

:root {
    --text-color: #9a9a9a;
    --color-primary: #85cdca;
    --secondary-color: #e8a87c;
    --background-secondary: linear-gradient(to right, #e8a87c 0%, #e27d60 100%);
    --background-color: linear-gradient(to right, rgba(133,205,202,1) 0%,rgba(58,178,179,1) 100%);
    --color-title: #555555;
}

.color-white {
    color: #fff !important;
}

.color--primary {
    color: var(--color-primary) !important;
}

.text--heading {
    color: var(--color-title);
    font-size: 25px;
    font-weight: bold;
}

.text--sub {
    color: var(--color-title);
    font-weight: bolder;
    font-size: 20px;
    letter-spacing: 1px;
}

.btn {
    display: block;
    background-color: var(--color-primary);
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Poppins', sans-serif !important;
    font-size: 14px;
}

.section-right__link-number--secondery {
    background-color: var(--secondary-color);
}

.btn--primary,
.section-right__link-number--primary,
.box-news__content--primary {
    background-color: var(--color-primary);
}

.btn--secondery {
    background-color: var(--secondary-color);
}
.tickets-logo--secondary {
    background: var(--background-secondary);
}

.btn--primary,
.tickets-logo--primary {
    background: var(--background-color);
}

.box-news__content--secondery {
    background-color: var(--secondary-color);
}

.box-news-btn--white {
    background-color: #fff !important;
    color: var(--secondary-color);
}

.mr-0 {
    margin-right: 0;
}

.row-margin-0 {
    margin-left: 0px;
    margin-right: 0px;
}

.col-padding-0 {
    padding-left: 0px;
    padding-right: 0px;
}

.mt-8 {
    margin-left: 8px;
    margin-right: 8px;
}

.ml-24 {
    margin-left: 24px;
}

.ml-0 {
    margin-left: 0;
}

// Short cut

.short-cut {
    position: fixed;
    bottom: 32px;
    right: 32px;
    z-index: 100;

    &__price {
        position: relative;
        width: 65px;
        height: 65px;
        background-color: var(--color-title);
        border-radius: 100%;
        display: flex;
        box-shadow: 0px 0px 20px rgba( 0, 0, 0, 0.25);

        &-number {
            margin: auto;
            font-size: 25px;
            color: #fff;
            text-decoration: none;
            padding-left: 5px;
            padding-top: 5px;
        }

        &-dola {
            position: absolute;
            font-size: 8px;
            color: #fff;
            font-weight: 500;
            top: 19px;
            left: 13px;

        }

        &-buy-now {
            position: absolute;
            font-size: 8px;
            font-weight: 400;
            color: #fff;
            background-color: var(--secondary-color);
            padding: 3px 5px;
            letter-spacing: 1px;
            line-height: 10px;
            top: 1px;
            left: 6px;
        }

        & .short-cut-envato {
            position: absolute;
            width: 35px;
            height: 35px;
            border-radius: 100%;
            background-color: var(--color-title);
            display: flex;
            bottom: 1px;
            left: -20px;
            cursor: pointer;

           & .envato-img {
               width: 15px;
               margin: auto;
           } 
        }
    }
}

// animation

@keyframes growth {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes scale {
    from {
        transform: scale(2);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes width {
    from {
        width: 50%;
    }

    to {
        width: 95%;
    }
}

// responsive
