@import './grid.scss';
@import './base.scss';
@import 'partials/header';
@import 'partials/footer';
@import 'partials/short-cut';
@import './pages/page2.scss';
@import './pages/page3.scss';
@import './pages/page4.scss';
@import './pages/page5.scss';

// Star--Header

.header-tablet {
    display: none;
}



// CONTENT

.travel-search {
    padding: 20px 50px 20px 70px;
    font-size: 14px;

    &__img {
        width: 160px;
    }

    &__start {
        color: var(--text-color);
        letter-spacing: 2px;
        padding-top: 42px;
    }

    &__heading {
        color: var(--color-title);
        letter-spacing: 1px;
        font-weight: 400;
        font-size: 20px;
        padding-top: 24px;
        line-height: 34px;

        &-number {
            font-style: italic;
            color: var(--color-primary);
        }
    }
}

.travel-form {
    padding-bottom: 20px;
    border-bottom: 2px solid #f1f1f1;
}

.travel-form__lable,
.travel-destination__lable {
    color: var(--text-color);
    padding-top: 20px;
    letter-spacing: 2px;
    font-size: 13px;
}

.travel-form__input,
.travel-destination__option {
    letter-spacing: 1px;
    color: var(--color-title);
    font-weight: 600;
    outline: none;
    border: none;
    font-size: 15px;
    width: 100%;
    display: inline-block;
}

.travel-destination__option {
    text-decoration: none;
    margin-bottom: 20px;
}

.travel-desc {
    position: relative;
    padding-top: 36%;
    background-image: url("/assets/img/travel-para-01.jpg");
    background-size: cover;
    background-position: 100% 84%;
    width: 100%;
    animation: growth ease-in 2s;

    .over-lay {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, rgba(85, 85, 85, 0) 0%, rgba(85, 85, 85, 0) 0%, rgba(85, 85, 85, 0.3) 79%, rgba(85, 85, 85, 0.3) 91%, rgba(85, 85, 85, 0) 100%, rgba(85, 85, 85, 0) 100%);;
        animation: growth ease-in 1s;
    }

    &__title {
        position: absolute;
        bottom: 86px;
        right: 70px;
        font-size: 51px;
        color: #fff;
        line-height: 1;
        
        &-1 {
            font-weight: 300;
            animation: scale ease-in 1s;
        }

        &-2 {
            position: relative;
            font-weight: 600;
            display: block;
            animation: scale ease-in 1.5s;
            z-index: 3;

            & .line {
                position: absolute;
                height: 4px;
                bottom: 5px;
                left: 5px;
                background-color: var(--color-primary);
                animation: width 2s ease-in forwards;
                z-index: -3;
            }
        }

    }
    &__menu {
        position: absolute;
        top: 18px;
        right: 66px;
        font-size: 32px;
        color: #fff;
        opacity: 0.6;
        font-weight: 200;
        cursor: pointer;
    }

    &__cross {
        position: absolute;
        left: 50%;
        bottom: 20px;
        transform: translateX(-50%);
        display: flex;
        width: 135px;
        justify-content: space-between;
        z-index: 1;

        &-bar-1 {
            background-color: #fff;
            width: 65px;
            height: 3px;
            cursor: pointer;
        }

        &-bar-2 {
            background-color: rgba(255,255,255,0.5);
            width: 65px;
            height: 3px;
            cursor: pointer;
        }

        &-bar-2:hover {
            background-color: #fff;
        }
    }
}


//   travel-packages

.travel-packages {
    margin-top: 62px;
    margin-bottom: 62px;
}

.travel-packages__heading {
    text-align: center;

}
.heading-smaill {
    color: var(--text-color);
    letter-spacing: 2px;
    font-size: 14px;
    margin-bottom: 8px;
}

.heading-large {
    color: var(--color-title);
    font-size: 36px;
    font-weight: bold;
    z-index: 99;

    .heading-underline, .heading-underline--secondery {
        position: relative;
        z-index: 99;
    }

    .heading-underline::before {
        content: "";
        position: absolute;
        display: inline-block;
        width: 100%;
        height: 5px;
        bottom: 11px;
        background-color: var(--color-primary);
        z-index: -9;
    }
}

// travel-tickets

.travel-tickets {
    border:  1px solid #f1f1f1;
    margin-top: 28px;

    &__img {
        position: relative;
        .tickets-img {
            width: 100%;
        }
    
        .tickets-sale {
            position: absolute;
            top: 20px;
            right: 20px;
            background-color: #555555;
            padding: 4px 12px;
            border-radius: 30px;
            text-decoration: none;
            color: #fff;
            font-size: 13px;
            line-height: 13px;
        }
    
        .tickets-logo {
            position: absolute;
            bottom: -5%;
            right: 20px;
            display: flex;
            width: 50px;
            height: 50px;
            border-radius: 100%;
            cursor: pointer;
    
            &__img {
                width: 26px;
                margin: auto;
            }
        }
    }
    
}

.travel-body {
    padding: 25px 30px 30px;

    .travel-tickets__place {
        padding-bottom: 15px;
        
        .place-link {
            text-decoration: none;
            color: var(--color-title);
            display: block;

            &__img {
                width: 14px;
            }

            p {
                display: inline-block;
                letter-spacing: 2px;
                color: var(--text-color);
            }
        }
    }
}

.travel-tickets__section {
    display: flex;
    justify-content: space-between;
    padding-top: 14px;
    padding-bottom: 14px;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;

    .section-right {
        
        &__link {
            text-decoration: none;
            color: var(--color-title);
            
            h5 {
                font-weight: 400;
                letter-spacing: 2px;
            }

            &-number {
                position: relative;
                display: inline-block;
                font-size: 10px;
                color: #fff;
                border-radius: 30px;
                padding: 0px 10px;
                margin-left: 5px;
                cursor: text;

                & .section-right-desc {
                    position: absolute;
                    top: 25px;
                    left: 0;
                    background-color: var(--color-title);
                    color: #fff;
                    padding: 10px 11px;
                    display: none;
                }

                & .section-right-desc::before {
                    position: absolute;
                    content: "";
                    border-width: 13px 15px;
                    border-style: solid;
                    border-color: transparent transparent var(--color-title) transparent;
                    left: 4px;
                    top: -20px;
                }
            }

            &-number:hover .section-right-desc {
                display: block;
            }
        }
    }

    .section-left {
        align-self: center;

        &__link {
            text-decoration: none;
            font-size: 25px;
            color: var(--color-title);
            letter-spacing: 2px;

            &--sale {
                color: var(--text-color);
                font-size: 20px;
                text-decoration: line-through;
            }
        }
    }
}

.travel-tickets__desc {
    color: var(--text-color);
    padding: 15px 0;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 27px;
}

// Travel best

.travel-best {
    position: relative;
    padding-top: 50%;
    background-image: url(/assets/img/travel-para-02.jpg);
    background-position: -270px 56%;
    background-size: 143%;
    background-repeat: no-repeat;

    .travel-column {
        position: absolute;
        bottom: 20%;
        left: 50%;
        width: 86.73091%;
        transform: translateX(-50%);
        z-index: 1;  
    }
}

.travel-column-item {
    position: relative;
    margin-right: 15px;
    margin-left: 15px;
    &__link{
        
        .travel-column-img {
            width: 100%;
        }
    }

    &__btn {
        position: absolute;
        padding: 3px 20px;
        top: 20px;
        right: 12px;
        color: #fff;
        letter-spacing: 1px;
        font-weight: normal;
    }
}

.travel-column-desc {
    padding: 30px 0;
    margin-left: -6px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;

    &__heading,
    &__tours {
        font-size: 14px;
        color: var(--text-color);
        letter-spacing: 2px;
        padding-bottom: 8px;
    }

    &__btn {
        display: inline-block;
        margin-top: 12px;
        padding: 8px 22px;
        letter-spacing: 1px;
    }
}

.travel-inner {
    width: 50%;
    position: absolute;
    padding-right: 90px;
    top: 15%;
    right: 0;
    
    &__body {
        color: var(--text-color);
        background-color: #fff;
        letter-spacing: 2px;
        min-height: 500px;
        padding: 50px;

        .inner-heading {
            font-size: 14px;
            font-weight: normal;
        }

        .inner-title {
            padding: 10px 0;
            font-size: 36px;
            font-weight: normal;
            color: var(--color-title);
        }

        .inner-desc {
            font-size: 14px;
            letter-spacing: 1px;
            line-height: 27px;
        }
    }
}

// travel-another

.travel-another {
    margin-top: 62px;
    margin-bottom: 62px;

    &__heading {
        text-align: center;
        margin-bottom: 32px;
    }
}

.box-news {
    display: flex;
    border: 1px solid #f1f1f1;

    &__img {
        flex-basis: 100%;
        background-image: url(/assets/img/travel-another/blog-01.jpg);
        background-size: cover;
        background-position: center center;

        &-2 {
            background-image: url(/assets/img/travel-another/blog-02.jpg);
        }

        &-3 {
            background-image: url(/assets/img/travel-another/blog-03.jpg);
        }

        &-4 {
            background-image: url(/assets/img/travel-another/blog-04.jpg);
        }
    }

    &__content {
        flex-basis: 100%;
        padding: 36px 30px;

       .box-news-heading {
           color: var(--text-color);
           font-size: 14px;
           letter-spacing: 2px;
           padding-bottom: 4px;
       }
       
       .box-news-title {
           color: var(--color-title);
           font-size: 20px;
           padding-bottom: 16px;
       }

       .box-news-desc {
           font-size: 14px;
           color: var(--text-color);
           line-height: 27px;
           letter-spacing: 1px;
           padding-bottom: 16px;
       }

       .box-news-btn {
           background-color: #e27d60;
           padding: 8px 19px;
           letter-spacing: 1px;
       }
    }
}

.box-news-mt {
    margin-top: 30px; 
}

.travel-appraise {
    position: relative;
    padding-top: 15%;
    background-image: url(/assets/img/footer/para-01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -62px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.appraise-position {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
    .appraise-inner {
        display: flex;
        color: #fff;
        margin-right: 90px;
        
        &__number {
            
            h2 {
                font-size: 60px;
                font-weight: normal;
                line-height: 50px;
            }
        }
        
        &__text {
            margin-left: 20px;
            p {
                font-size: 14px;
                letter-spacing: 2px;
                line-height: 24px;  
            }
        }
    }
}

// Footer

.footer {
    position: relative;
    padding-top: 39%;
    background-image: url(/assets/img/footer/footer.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &__box {
        position: absolute;
        top: 50%;
        transform: translate(-50%,-50%);
        left: 50%;
        background-color: #fff;
        padding: 48px;
        width: 86.73091%;
    }

    &__copyright {
        position: absolute;
        bottom: 12%;
        left: 50%;
        transform: translateX(-50%);
        width: 86.73091%;
        background-color: var(--color-primary);
    }

}

.box-item {
    padding-right: 50px;
    &__img {
        width: 150px;
        margin-bottom: 24px;
    }

    &__text {
        color: var(--text-color);
        font-size: 14px;
        line-height: 27px;
        letter-spacing: 1px;
    }

    &__list {
        list-style: none;
        margin-top: 18px;

        &-item {
            display: inline-block;
            
            .box-icon {
                text-decoration: none;
                color: var(--color-title);
                font-size: 22px;
                margin-right: 16px;
            }
        }
    }
}

.box-menu-item {

    &__title {
        font-size: 14px;
        letter-spacing: 2px;
        color: var(--color-title);
        margin-bottom: 24px;
        line-height: 40px;
    }

    &__list {
        list-style: none;
        

        &-item {
            font-size: 14px;
            color: var(--text-color);
            letter-spacing: 1px;
            line-height: 27px;

           & .box-menu-icon-right {
                font-size: 12px;
                opacity: 0.4;
                margin-right: 4px;
            }
        }
    }
}

.footer-copyright-text {
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: normal;
    padding: 16px 24px;
}

.footer-copyright-text-left {
    text-align: right;
}